In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("F:\\New folder\\ML\\CSV files\\IMDB Dataset.csv")

In [3]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

## Step 1  --> Lowercasing

In [7]:
# If I want to conert all the movies review then
df['review'] = df['review'].str.lower()

In [8]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

## Step 2 --> Remove HTML Tags

In [9]:
import re
def remove_html_tag(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [10]:
text = "<html><body><p> Movie1 </p><p> Click here to <a herf  'http://google.com'> download</a><p>"

In [11]:
remove_html_tag(text)

' Movie1  Click here to  download'

In [12]:
df['review'] = df['review'].apply(remove_html_tag)

In [13]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

## Step 4 --> Remove URL's

In [14]:
# If we want to remove url's from the text 

def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [17]:
text1 ='Check out my notebook http://www.deture.com/delt/note1234acc'

text2 ='Check   out my notebook http://www.deture.com/delt/note1234acc'

text3 ='Google Search heree www.google.com'

text4 ='for notebook click https://www.deture.com'

In [18]:
remove_url(text4)

'for notebook click '

## Step --> Remove Punctation

In [20]:
import string
import time

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
exclude = string.punctuation

In [22]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, '')
    return text

In [24]:
text1 = 'string. with. Punctuation?'

In [25]:
remove_punc(text1)

'string with Punctuation'

In [27]:
df['review'] = df['review'].apply(remove_punc)

In [28]:
start = time.time()
print(remove_punc(text))
time1 = time.time() - start
print(time)

htmlbodyp Movie1 pp Click here to a herf  httpgooglecom downloadap
<module 'time' (built-in)>

In [29]:
df=pd.read_csv("F:\\New folder\\ML\\CSV files\\twitter_sentiment_analysis.csv")

In [30]:
df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [31]:
import string
exclude = string.punctuation

In [32]:
def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

In [33]:
df['tweet'] = df['tweet'].apply(remove_punc)

In [34]:
df

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964   user white supremacists want everyone to see ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid Ã°ÂŸÂ˜Â˜ hairflip neverread...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

## Chat word Treatement

In [35]:
chat_words = {'u2':'you to', 'BBL': 'BE Back Later', 'GAL':'Get A Life'}

In [36]:
chat_words

{'u2': 'you to', 'BBL': 'BE Back Later', 'GAL': 'Get A Life'}

In [37]:
def chat_conversation(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
            
    return "".join(new_text)

In [38]:
chat_conversation('GAL')

'Get A Life'

## Step 6 --> Spelling Correction

In [39]:
!pip install TextBlob

Requirement already satisfied: TextBlob in c:\users\owner\anaconda3\lib\site-packages (0.18.0.post0)
Requirement already satisfied: nltk>=3.8 in c:\users\owner\anaconda3\lib\site-packages (from TextBlob) (3.8.1)
Requirement already satisfied: click in c:\users\owner\anaconda3\lib\site-packages (from nltk>=3.8->TextBlob) (8.0.4)
Requirement already satisfied: joblib in c:\users\owner\anaconda3\lib\site-packages (from nltk>=3.8->TextBlob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\owner\anaconda3\lib\site-packages (from nltk>=3.8->TextBlob) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\owner\anaconda3\lib\site-packages (from nltk>=3.8->TextBlob) (4.65.0)
Requirement already satisfied: colorama in c:\users\owner\anaconda3\lib\site-packages (from click->nltk>=3.8->TextBlob) (0.4.6)

In [40]:
from textblob import TextBlob

In [41]:
incorrect_text = 'ceertain conditionsss seveal ggenerations aree modified'

textblb = TextBlob(incorrect_text)

textblb.correct().string

'certain conditions several generations are modified'

## Step 7 Removing StepWords

In [43]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Owner\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [45]:
STOPWORDS = set(stopwords.words('english'))

In [47]:
# manually work

def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        
        if word in set(stopwords.words('english')):
            new_text.append('')
            
        else:
            new_text.append(word)
            
    x = new_text[:]
    new_text.clear()
    return "".join(x)

remove_stopwords('probably my all-time favourite moviem, a story of selflessness, sacrifise and dedication to the nobel cause')

'probablyall-timefavouritemoviem,storyselflessness,sacrifisededicationnobelcause'

## Tockenization

In [48]:
# 1 prefix - character(s) at the begining = $(".)

# 2 suffix - character(s) at the end = km).!"

# 3 Infix - character(s) in between = --/''''''

# Exception  - Speccial case rule to split a string into several tockens or
# prevent a tocken from being split them punctation rules are applied. = Let's U.s.

In [50]:
# Approach  the tockenization using the split function

# 1. Word tockenization 

sent1 = "I am going to delhi"
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [51]:
# sentence tockenization 
sent2 = " I am going to delhi. I will stay there for 3 days.Let's hope trip to be great"
sent2.split('.')

[' I am going to delhi',
 ' I will stay there for 3 days',
 "Let's hope trip to be great"]

In [52]:
# problem with split function
sent3 = "I am going to Delhi!"
sent3.split()

['I', 'am', 'going', 'to', 'Delhi!']

In [53]:
# in the sent3 problem, we are seeing that ! mark is included with delhi, we have to remove it by re liberary

In [57]:
import re

sent3 = "I am going to Delhi"
tockens = re.findall("[\w']+",sent3)
sent3

'I am going to Delhi'

## 1 NLTK

In [59]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [60]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Owner\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [61]:
sent1="I am going to visit Delhi!"
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'Delhi', '!']

In [66]:
sent2 = "I am Ph.d in A.I"
sent4 = " We 'er here to help! mail us at bltk@gmail,com"
sent5 = "A 5km ride cost $"

In [67]:
word_tokenize(sent2)

['I', 'am', 'Ph.d', 'in', 'A.I']

In [68]:
word_tokenize(sent3)

['I', 'am', 'going', 'to', 'Delhi']

In [69]:
word_tokenize(sent4)

['We',
 "'er",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'bltk',
 '@',
 'gmail',
 ',',
 'com']

## Stemming

In [70]:
# 1. Inflection ==> 'In grammer, inflection is the modification of the word
# to express different grametical categories such as tense, case, voice, aspect person,
# number, gender, mood'

# 2. stemming ==> Stemming is the process of reducing inflection in words to their root form
# such  as mapping of words of same stem even if the itself is not valid
# word in the language

In [72]:
from nltk.stem.porter import PorterStemmer

In [76]:
ps = PorterStemmer()

def stem_word(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [78]:
sample="walk walks walking walked"
stem_word(sample)

'walk walk walk walk'

In [79]:
# stemming mapping a group pf word to the same stem even if the stem itself in not valid word in language

text = 'probably my alltime favourite movie a story of selflessneess sacrifise and dedication'
print(text)

probably my alltime favourite movie a story of selflessneess sacrifise and dedication

In [80]:
stem_word(text)

'probabl my alltim favourit movi a stori of selflessneess sacrifis and dedic'

In [81]:
# Lemmatization --> unlick stemming, reduces the inflected words properly ensuring that 
# ther root word belongs to the language
# in lemitization root word is called lama
# alemma (plural)

In [82]:
from nltk.stem import WordNetLemmatizer

import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Owner\AppData\Roaming\nltk_data...

True

In [87]:
wordnet_lemmatizer = WordNetLemmatizer()

In [88]:
sentence = "He was running and eatting at the same time. He has a bad habbit of swimming after playing long hours in the sun"
punctuation = '?:!.,;'
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    sentence_words.remove(word)
    
sentence_words
print("{0:20}{1:20}".format("Word", "Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word)))

Word                Lemma
was                 wa
and                 and
at                  at
same                same
.                   .
has                 ha
bad                 bad
of                  of
after               after
long                long
in                  in
sun                 sun